@use '../base/base' as *;

.btn {
  outline: none;
  border: none;
  border-radius: 3.5rem;
  background-color: $dark-desaturated-blue;
  color: $light-grayish-blue;
  padding: 1.5rem 4rem;
  cursor: pointer;
  margin-top: 3rem;

  @media only screen and (min-width: $bp-desktop) {
    margin-top: 0;
    margin-left: 5rem;
  }

  &:hover {
    color: $very-pale-blue;
  }

  &:focus {
    outline: 3px solid $strong-cyan;
    border-radius: 2rem;
  }
}
