@use '../base/base' as *;

.slider {
  grid-area: slider;

  &__input {
    width: 100%;
    appearance: none;
    outline: none;
    height: 10px;
    background: linear-gradient(90deg, $soft-cyan 50%, $light-grayish-blue 50%);
    cursor: pointer;
    border-radius: 20px;

    transition: ease-in 0.3s;
    -webkit-appearance: none;

    &:focus {
      outline: 3px solid $strong-cyan;
      transition: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 50px;
      height: 50px;
      background-image: url(../img/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $strong-cyan;
      cursor: pointer;
      border-radius: 50%;
      transition: ease-in 0.1s;

      &:active {
        background-color: hsl(174, 86%, 35%);
      }

      &:active,
      &:hover {
        box-shadow: 0 10px 25px -3px rgba($strong-cyan, 0.6);
      }
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      width: 50px;
      height: 50px;
      background-image: url(../img/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $strong-cyan;
      cursor: pointer;
      border-radius: 50%;

      &:active,
      &:hover {
        box-shadow: 0 10px 25px -3px rgba($strong-cyan, 0.6);
      }
    }
  }
}
