@use '../base/base' as *;

.switch {
  grid-area: switch;
  font-size: 1.6rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 60px 1fr;
  grid-gap: 0.5rem;
  align-items: center;

  &__toggle {
    justify-self: center;
    position: relative;
    display: inline-block;
    width: 5.8rem;
    height: 2.8rem;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    inset: 0 0 0 0;
    background-color: $light-grayish-blue;
    border-radius: 2rem;
    transition: 0.3s;

    &:hover {
      background-color: $strong-cyan;
    }
  }

  &__btn::before {
    position: absolute;
    content: '';
    height: 2rem;
    width: 2rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: $white;
    border-radius: 50%;
    transition: 0.3s;
  }

  &__input:checked + &__btn {
    background-color: $strong-cyan;
  }

  &__input:checked + &__btn::before {
    transform: translateX(2.9rem);
  }

  &__monthly {
    justify-self: end;
  }

  &__discount {
    background-color: $light-grayish-red;
    color: $light-red;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;

    @media only screen and (min-width: $bp-desktop) {
      font-size: 1.2rem;
    }

    &--full {
      display: none;

      @media only screen and (min-width: $bp-desktop) {
        display: inline-block;
      }
    }
  }
}
